<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.instance.store">
      <store
            class="eu.esdihumboldt.hale.common.headless.orient.OrientInstanceStoreFactory"
            id="orient"
            priority="0">
      </store>
   </extension>

</plugin>
