---
name: Check

on:
  pull_request:
    branches:
      - master

jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check formatting
        run: |
          ./gradlew spotlessCheck

  check:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@b8c149abb6fed430a99dbd7ca25a093ffe875ab1 # v4.0.0
    needs: spotless
    with:
      java-version: 17
      multi-module: true
      skip-scan: true
      gradle-tasks: '--continue clean check :allure:allureAggreggateResults' # perform all tasks even if tests of one project fail
      upload-artifact-path: allure/build/allure-results
      upload-artifact-name: allure-results
    secrets:
      WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
      WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}

  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Vulnerability scan
        uses: ./.github/scan

  allure:
    # https://allurereport.org/docs/integrations-github/
    runs-on: ubuntu-latest
    if: ${{ failure() && !startsWith(github.head_ref, 'renovate/') }}  # only if tests fail, but not for renovate changes
    needs: check
    concurrency:
      group: allure-${{ github.ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download artifact from build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: allure-results
          path: allure-results

      - name: Load test report history
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@58e6590adf6d8f196a0d771bf8a00e6921086a62 # v1.9
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results
          # needs to be adapted because action adds redirect
          report_url: https://${{ github.repository_owner }}.github.io/hale-core/pr-preview/pr-${{ github.event.pull_request.number }}

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@ffa7509e91a3ec8dfc2e5536c4d5c1acdf7a6de9 # v1.8.1
        with:
          source-dir: ./allure-history/
