---
name: Check

on:
  pull_request:
    branches:
      - master

jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Check formatting
        run: |
          ./gradlew spotlessCheck

  check:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@5f035642502eb701fce3df07c9b5d2a3c815486b # v3.8.1
    needs: spotless
    with:
      java-version: 17
      multi-module: true
      skip-scan: true
      gradle-tasks: '--continue clean check :allure:allureAggreggateResults' # perform all tasks even if tests of one project fail
      upload-artifact-path: allure/build/allure-results
      upload-artifact-name: allure-results
    secrets:
      WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
      WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}

  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Vulnerability scan
        uses: ./.github/scan

  allure:
    # https://allurereport.org/docs/integrations-github/
    runs-on: ubuntu-latest
    if: ${{ failure() && !startsWith(github.head_ref, 'renovate/') }}  # only if tests fail, but not for renovate changes
    needs: check
    concurrency:
      group: allure-${{ github.ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Download artifact from build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: allure-results
          path: allure-results

      - name: Load test report history
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@58e6590adf6d8f196a0d771bf8a00e6921086a62 # v1.9
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results
          # needs to be adapted because action adds redirect
          report_url: https://${{ github.repository_owner }}.github.io/hale-core/pr-preview/pr-${{ github.event.pull_request.number }}

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@8ff09e486b4c23709012eedd3b42e9f0b95dd0c5 # v1.6.3
        with:
          source-dir: ./allure-history/
