---
name: Delete test report

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  delete-allure:
    runs-on: ubuntu-latest
    concurrency:
      group: allure-${{ github.ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@9f77b1d057b494e662c50b8ca40ecc63f21e0887 # v1.6.2
        with:
          action: remove
