---
name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

concurrency:
  # only run one publishing at a time to avoid conflicts
  group: publish-${{ github.ref }}

jobs:
  publish:
    # Only on main repository (no publishing on forks)
    if: github.repository_owner == 'halestudio'

    uses: wetransform/gha-workflows/.github/workflows/gradle-library-publish.yml@ea94f03339afbdd8770e446d3f000c2d366a6fc1 # v3.4.1
    with:
      java-version: 17
      multi-module: true
      skip-scan: true
      build-tasks: '--continue clean spotlessCheck check :allure:allureAggreggateResults'
      upload-artifact-path: allure/build/allure-results
      upload-artifact-name: allure-results
    secrets:
      WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
      WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}
      SLACK_NOTIFICATIONS_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}

  allure:
    # https://allurereport.org/docs/integrations-github/
    runs-on: ubuntu-latest
    if: always() # even if tests fail
    needs: publish

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Download artifact from build
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: allure-results
          path: allure-results

      - name: Load test report history
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@58e6590adf6d8f196a0d771bf8a00e6921086a62 # v1.9
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results

      - name: Publish test report
        uses: JamesIves/github-pages-deploy-action@15de0f09300eea763baee31dff6c6184995c5f6a # v4.7.2
        with:
          branch: gh-pages
          folder: allure-history
          clean-exclude: pr-preview/
          force: false
