---
name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

concurrency:
  # only run one publishing at a time to avoid conflicts
  group: publish-${{ github.ref }}

jobs:
  publish:
    # Only on main repository (no publishing on forks)
    if: github.repository_owner == 'halestudio'

    uses: wetransform/gha-workflows/.github/workflows/gradle-library-publish.yml@b8c149abb6fed430a99dbd7ca25a093ffe875ab1 # v4.0.0
    with:
      java-version: 17
      multi-module: true
      skip-scan: true
      build-tasks: '--continue clean spotlessCheck check :allure:allureAggreggateResults'
      upload-artifact-path: allure/build/allure-results
      upload-artifact-name: allure-results
    secrets:
      WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
      WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}
      SLACK_NOTIFICATIONS_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}

  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Vulnerability scan
        uses: ./.github/scan

  allure:
    # https://allurereport.org/docs/integrations-github/
    runs-on: ubuntu-latest
    if: always() # even if tests fail
    needs: publish

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download artifact from build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: allure-results
          path: allure-results

      - name: Load test report history
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@58e6590adf6d8f196a0d771bf8a00e6921086a62 # v1.9
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results

      - name: Publish test report
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          branch: gh-pages
          folder: allure-history
          clean-exclude: pr-preview/
          force: false
